<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="eternus_bookinfoadmin_records_listing_data_source" xsi:type="string">Eternus\BookInfoAdmin\Model\ResourceModel\Book\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Eternus\BookInfoAdmin\Model\ResourceModel\Book\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">book_info</argument>
            <argument name="resourceModel" xsi:type="string">Eternus\BookInfoAdmin\Model\ResourceModel\Book</argument>
        </arguments>
    </virtualType>
</config>