<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="add_extra_cost_to_cart" type="MyPlugin\CartPrice\Plugins\Cart" sortOrder="1" disabled="false" />
    </type>
</config>